@keyframes animation-loader-icon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animation-loader-text {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.animation {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;

  &:empty {
    flex-flow: column nowrap;
    gap: 1rem;

    &::before {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: animation-loader-icon;
      animation-timing-function: linear;
      border: 4px solid $navyblue;
      border-bottom: 4px solid transparent;
      border-radius: 50%;
      content: '';
      display: block;
      height: 32px;
      margin: 0 auto;
      width: 32px;
    }

    &::after {
      animation-delay: 3s;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-name: animation-loader-text;
      animation-iteration-count: 1;
      animation-fill-mode : forwards;
      content: 'Loading animation...';
      display: block;
      margin: 0 auto;
      opacity: 0.0;
    }
  }

  &--partners {
    aspect-ratio: 1 / 1;
    min-height: none;
  }
}