@keyframes animation-loader-text {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.animation {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;

  &:empty {
    flex-flow: column nowrap;
    gap: 1rem;

    &::before {
      content: url('/assets/images/homework/preloader.gif');
      display: block;
      margin: 0 auto;
    }

    &::after {
      animation-delay: 5s;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-name: animation-loader-text;
      animation-iteration-count: 1;
      animation-fill-mode : forwards;
      content: 'Loading animation...';
      display: block;
      margin: 0 auto;
      opacity: 0.0;
    }
  }

  &--partners {
    aspect-ratio: 1 / 1;
    min-height: none;
  }
}