.btn {
  background-origin: border-box;
  border: $button-border-size solid transparent;
	border-radius: 40px;
  box-shadow: $button-border-size 1000px 1px $white inset;
	color: $navyblue;
	display: inline-block;
	font-size: 19px;
	font-weight: 600;
	line-height: 1;
	margin: 0.2em 0.5em 0.2em 0;
	padding: 0.5em 1em;
	text-align: center;
	transition: box-shadow 0.2s ease-out, background-position 0.2s ease-out;

	&:hover {
		color: inherit;
		background-position: -200px;
	}

	&.btn--big {
		font-size: 25px;
	}

	&.btn--bg-transparent {
		box-shadow: none;
		color: $white;

		&:hover {
			color: $lightblue;
		}
	}

	&.btn--bg-darkblue {
		box-shadow: $button-border-size 1000px 1px $navyblue inset;
		color: $white;

		&:hover {
			box-shadow: $button-border-size 1000px 1px #035d94 inset;
		}
	}

	&.btn--bg-white {
		box-shadow: $button-border-size 1000px 1px $white inset;
		color: $blue1;

		&:hover {
			box-shadow: $button-border-size 1000px 1px $lightblue inset;
		}
	}

	&.btn--bg-black {
		box-shadow: $button-border-size 1000px 1px $darkgrey3 inset;
		color: $white;

		&:hover {
			box-shadow: $button-border-size 1000px 1px #333 inset;
		}
	}

	&.btn--border-blue {
		background-image: url('/assets/images/homework/btn-grad-blue.svg');
	}

	&.btn--border-red {
		background-image: url('/assets/images/homework/btn-grad-red.svg');
	}

	&.btn--border-orange {
		background-image: url('/assets/images/homework/btn-grad-orange.svg');
	}

	&.btn--border-green {
		background-image: url('/assets/images/homework/btn-grad-green.svg');
	}

	&.btn--arrow-down {
		align-items: center;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		padding: 0;
		width: 32px;
	
		&::before {
			transform: translateY(-1px);
			content: url(/assets/images/homework/btn-arrow-down.svg);
		}
	}
	
	&.btn--play {
		align-items: center;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		padding: 0;
		width: 80px;
	
		&::before {
			border-bottom: 1em solid transparent;
			border-left: 1.625em solid $blue1;
			border-top: 1em solid transparent;
			content: '';
			height: 0;
			width: 0;
			transform: translateX(0.125em);
		}
	}
}

.btn--left-sep {
	&:before {
		@include inline-block();

		content: " ";
		width: 1px;
		height: 38px;
		background: #383838;
		margin: 0 20px;
	}
}
