.features-home {
	display: grid;
	gap: 4em;
	text-align: center;

	@media screen and (min-width: map.get($breakpoints, "VGA")) {
		text-align: left;
		grid-template-columns: repeat(2, 1fr);
  }

	@media screen and (min-width: map.get($breakpoints, "WXGA")) {
		grid-template-columns: repeat(4, 1fr);
  }

	&::before,
	&::after {
		display: none
	}

	&__item {
		display: grid;
		gap: 1em;
		grid-template-rows: repeat(4, max-content) 1fr;
		margin: 0 auto;
		max-width: 400px;
	}

	&__figure {
		align-items: center;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: 240px;

		img {
			max-width: 100%;
			width: 240px;
		}
	}

	&__btn-wrapper {
		margin-top: auto !important;
	}

	.headline-4,
	.headline-8,
	.small-text {
		padding-bottom: 0 !important;
	}

	.headline-4.blue {
		color: $blue;
	}
}
