
.form {
    position: relative;
}

.form form:after {
    @include clearfix();
}

.form__row {
    float: left;
    width: 100%;
    clear: both;
    padding: 9px 0;

    label {
        font-size: .945em;
        font-weight: 600;
        line-height: 2;
    }

    input[type="text"],
    input[type="email"],
    #iban-element {
        width: 93%;
        padding: 10px 3.5%;

        background: #fff;
        border: 1px solid #fff;
        @include border-radius(3px);
        @include box-shadow(0px, 0px, 10px,0px, rgba(50, 50, 50, 0.2));
        @include transition(all, 0.3s, ease);

        font-size: 15px;

        &:focus {
            border-color: $blue2;
            @include box-shadow(0px, 0px, 10px,0px, rgba(40, 179, 220, 0.6));
        }
    }

    #iban-element:empty {
        height: 20px;

        &::before {
            content: 'Loading...'
        }
    }

    .btn span {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.form__bank-name {
    padding: 9px 0 0;

    &:empty {
        display: none;
    }
}

.form__error-message {
    padding: 9px 0 0;
    color: $red;

    &:empty {
        display: none;
    }
}
