.info-box {
	clear: both;
	display: flex;
	margin-top: 30px;
	justify-content: space-between;

	& > div {
		@include box-shadow(0px, 0px, 4px, 0px, rgba($black, 0.1));
	}
}

.info-box__light {
	background: $white;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	& > div {
		padding: 2em;
	}

	.btn {
		margin: 0;
	}
}

.info-box__blue {
	& > div {
		display: flex;
		padding: 0 !important;
		height: 100%;

		.left {
			background: url(/assets/images/homework/bg-box-grad-blue.webp) center right no-repeat;
			background-size: cover;
			box-sizing: border-box;
			padding: 2em;
		}
	}

	ul {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.info-box__product-tour {
	float: right;
	position: relative;
	overflow: hidden;
	text-align: center;

	img {
		aspect-ratio: 400 / 367;
		display: block;
		margin: 0 auto 1em;
		max-width: 400px;
		transform: translateX(0);
		transition: transform 0.5s ease;
		width: 100%;

		@media screen and (min-width: map.get($breakpoints, "WVGA")) {
			transform: translateX(40%);
			width: 400px;
		}
	}

	.btn {
		margin: 0;
		opacity: 1;
		transition: opacity 0.5s ease 0.5s, background-position 0.2s ease-out;

		@media screen and (min-width: map.get($breakpoints, "WVGA")) {
			opacity: 0;
		}
	}

	&--visible {
		img {
			@media screen and (min-width: map.get($breakpoints, "WVGA")) {
				transform: translateX(-8%);
			}
		}

		.btn {
			@media screen and (min-width: map.get($breakpoints, "WVGA")) {
				opacity: 1;
			}
		}
	}
}


@media screen and (max-width: map.get($breakpoints, "XGA")) {
	.info-box {
		.col-35,
		.col-60,
		.col-40,
		.col-65 {
			width: 100% !important;
		}
	}

	.info-box,
	.info-box__blue > div {
		flex-direction: column;
		display: block;
	}

	.info-box__blue {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		clear: both;

		.col-65 {
			margin-bottom: 0;
		}
	}
}
