.inner-page__header {
	position: relative;
	text-align: center;
	background: url(/assets/images/homework/bg-sec-header-blue-grid.webp) top center no-repeat;
	background-size: cover;

	&--full-height {
		align-items: center;
		display: flex;
		height: calc(100vh - #{$l-navbar-height});
	}

	&--with-video {
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba($black, 0.7);
			z-index: 1;
		}
	}

	.layout2 {
		padding: 4em 0;
		position: relative;
		z-index: 2;
	}

	.headline-1 {
		font-size: 3em;
		padding-bottom: 0.3em;

		@media screen and (min-width: map.get($breakpoints, "WVGA")) {
			font-size: 4.5em;
		}
	}

	p {
		color: $lightblue;
	}
}

.inner-page {
	&__header-video {
    display: block;
    height: 100%;
		position: absolute;
    object-fit: cover;
    width: 100%;
		z-index: 0;
	}
}

/* inner page contaciner - for news, resource -> whole layer under the main content is blue */
.inner-page--blue-fill {
	background: #f3f3f3 url(/assets/images/homework/bg-listings-grad.webp) top center no-repeat;
}

.inner-page--blue-fill__header {
	text-align: center;
	padding: 70px 0 50px 0;

	@media screen and (max-width: map.get($breakpoints, "WVGA")) {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	@media screen and (max-width: map.get($breakpoints, "XGA")) {
		background: none !important;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	h1 {
		padding-bottom: 0;
	}
}

.inner-page--read {
	padding-top: 50px;
}

.inner-page--blue-fill__header--news  {
	background: url(/assets/images/homework/bg-listings-news.png) center center no-repeat;
	background-size: contain;

	@media screen and (max-width: map.get($breakpoints, "WVGA")) {
		background: none;
	}
}


.inner-page__container {
	@include clearfix();
	position: relative;

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		display: flex;
		flex-flow: row nowrap;
	}
}

.inner-page__container .col-75 > div {
	@include clearfix();
	margin-right: 0;
}


.inner-page__submenu {
	margin-left: 0;
	margin-bottom: 30px;

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		margin-left: 20px;
	}

	@media screen and (min-width: map.get($breakpoints, "XGA")) {
		margin-left: 30px;
	}

	&--sticky {
		position: static;
	
		@media screen and (min-width: map.get($breakpoints, "WVGA")) {
			position: sticky;
			top: 0;
		}
	}

	a {
		display: block;
		padding: 20px 30px 20px 55px;

		font-size: 1.15em;
		font-weight: 600;
		text-transform: uppercase;
		color: #dcdcdc;

		background: url(/assets/images/homework/link-arrow-grey.svg) 22px center no-repeat;
		background-size: 14px 15px;

		@media screen and (min-width: map.get($breakpoints, "XGA")) {
			display: block;
			padding: 14px 30px 14px 35px;

			font-size: 1.15em;
			font-weight: 600;
			text-transform: uppercase;
			color: #dcdcdc;

			background: url(/assets/images/homework/link-arrow-grey.svg) no-repeat;
			background-position: 10px center !important;
			background-size: 14px 15px;
		}
	}


	li {
		background: $grey url(/assets/images/homework/bg-dark-grain.webp);
		@include transition(all, 0.2s, ease-in);

		&:not(:first-child) a {
			box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
		}

		&:hover {
			background: #222;
		}

		&.active {
			a {
				background: $blue2 url(/assets/images/homework/link-arrow-white.svg) 22px center no-repeat;
				color: #fff;
			}
		}
	}
}

.inner-page__box {
	color: $grey;
	margin-left: 0;
	margin-bottom: 30px;

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		margin-left: 20px;
	}

	@media screen and (min-width: map.get($breakpoints, "XGA")) {
		margin-left: 30px;
	}

	& > div {
		padding: 20px;
		background: #fff;
	}
}

.inner-page__box--recent-items {
	ul {
		font-size: 1.1em;

		@media screen and (min-width: map.get($breakpoints, "XGA")) {
			font-size: 0.9em;
		}

		li {
			padding-left: 38px;
			padding-bottom: 4px;
			padding-bottom: 4px;
			background: url(/assets/images/homework/list-arrow-blue.svg) left 0 no-repeat;
			background-size: 28px 28px;
			margin:10px 0 20px 0;
		}
	}
}

.inner-page__group {
	clear: both;
	float: left;
	width: 100%;
	margin: 20px 0;
}
