.social-media {
	li,
	a,
	span {
		display: inline-block;
		vertical-align: middle;
	}

	a,
	span {
		border-radius: 50%;
	}
}

.social-media__ico {
	background-image: url('/assets/images/homework/btn-grad-blue.svg');
	background-origin: border-box;
  border: $button-border-size solid transparent;
	display: inline-block;
	text-align: center;
	transition: box-shadow 0.2s ease-out, background-position 0.2s ease-out;

	&::before {
		aspect-ratio: 1 / 1;
		background-position: top center;
		background-repeat: no-repeat;
		content: '';
		display: block;
		margin: 2 * $button-border-size;
		transition: background-position 0.2s ease-out;
		width: 30px;
	}

	&:hover {
		background-position: -200px;

		&::before {
			background-position: bottom center;
		}
	}
}

.social-media--white {
	@each $ico in facebook, linkedin, twitter, gplus, share {
		.social-media__#{$ico} {
			@include buttonBackgroundColor($white, $lightblue);

			&::before {
				background-image: url(/assets/images/homework/btn-#{$ico}.svg);
			}
		}
	}
}

.social-media--blue {
	@each $ico in facebook, linkedin, twitter, gplus {
		.social-media__#{$ico} {
			@include buttonBackgroundColor($navyblue, $lightblue);

			&::before {
				background-image: url(/assets/images/homework/btn-#{$ico}-white.svg);
			}
		}
	}
}

.social-media--2-cols {
	@include clearfix();
	
	li {
		float: left;
		width: 50%;
		margin: 4px 0;

		@media screen and (min-width: map.get($breakpoints, "XGA")) {
			width: 100%;
			clear: both;
		}

		a {
			font-size: 1.25em;
			font-weight: 600;
		}

		.social-media__ico {
			margin-right: 10px;
		}
	}
}

.social-media--share {
	$social-media-share-padding: 12px;
	display: inline-block;

	& > li {
		position: relative;

		ul {
			display: none;
			gap: $social-media-share-padding;

			position: absolute;
			bottom: -1 * $social-media-share-padding;
			right: -1 * $social-media-share-padding;
			z-index: 5;
			background: $white;
			padding: $social-media-share-padding;
			border-radius: 20px;
		}

		&:hover ul {
			display: flex;
		}
	}
}
