.social-media {
	li,
	a,
	span {
		display: inline-block;
		vertical-align: middle;
	}

	a,
	span {
		border-radius: 50%;
	}
}

.social-media__ico {
	background-image: url('/assets/images/homework/btn-grad-blue.svg');
	background-origin: border-box;
  border: $button-border-size solid transparent;
	display: inline-block;
	text-align: center;
	transition: box-shadow 0.2s ease-out, background-position 0.2s ease-out;

	&::before {
		aspect-ratio: 1 / 1;
		background-position: top center;
		background-repeat: no-repeat;
		content: '';
		display: block;
		margin: 2 * $button-border-size;
		transition: background-position 0.2s ease-out;
		width: 30px;
	}

	&:hover {
		background-position: -200px;

		&::before {
			background-position: bottom center;
		}
	}
}

.social-media--white {
	@each $ico in facebook, linkedin, twitter, gplus, share {
		.social-media__#{$ico} {
			@include buttonBackgroundColor($white, $lightblue);

			&::before {
				background-image: url(/assets/images/homework/btn-#{$ico}.svg);
			}
		}
	}
}

.social-media--blue {
	@each $ico in facebook, linkedin, twitter, gplus {
		.social-media__#{$ico} {
			@include buttonBackgroundColor($navyblue, $lightblue);

			&::before {
				background-image: url(/assets/images/homework/btn-#{$ico}-white.svg);
			}
		}
	}
}

.social-media--2-cols {
	@include clearfix();
	
	li {
		float: left;
		width: 50%;
		margin: 4px 0;

		@media screen and (min-width: map.get($breakpoints, "XGA")) {
			width: 100%;
			clear: both;
		}

		a {
			font-size: 1.25em;
			font-weight: 600;
		}

		.social-media__ico {
			margin-right: 10px;
		}
	}
}

.social-media--share {
	display: inline-block;
	margin-left: 5px;

	& > li {
		position: relative;

		& > a {
			-ms-touch-action: none;
			touch-action: none;
		}

		ul {
			position: absolute;
			top: -65px;
			left: -5px;
			z-index: 50;
			opacity: 0;
			background: #fff;
			padding: 5px;

			width: 207px;
			border-radius: 20px;
			@include transition(all, 0.2s, ease-in);

			li {
				display: inline-block;
				margin: 3px 0;
			}
		}

		&:hover ul {
			opacity: 1;
		}
	}
}
