.l-home-banner {
	align-items: center;
	background-image: url('/assets/images/homework/banner.webp');
	background-size: cover;
	display: flex;
	height: auto;
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 100%;

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		text-align: left;
	}

	@media screen and (min-width: map.get($breakpoints, "XGA")) {
		height: calc(100vh - #{$l-navbar-height});
		min-height: 600px;
		max-height: 800px;
	}

	.layout {
		width: 100%;
	}

	.btn--arrow-down {
		display: none;

		@media screen and (min-width: map.get($breakpoints, "WVGA")) {
			display: flex;
			position: absolute;
			bottom: 2em;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			margin: 0;
		}
	}
}

.home-banner__content {
	background-color: rgba($navyblue, 0.8);
	padding: 2em;
	position: relative;
	z-index: 2;

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		background-color: transparent;
		box-sizing: border-box;
		width: 55%;
	}

	.headline-1 {
		color: $white;
		font-size: 3em;
		text-shadow: 0px 1px 0.2px $black;
	
		@media screen and (min-width: map.get($breakpoints, "XGA")) {
			font-size: 4em;
		}
	}

	p {
		color: $lightblue;
		font-size: 1.2em !important;
		text-shadow: 0px 1px 0.4px $black;
	}
}

.l-home-banner__3-cols {
	display: grid;
	gap: 0.5em;
	padding-bottom: 1.5em;

	@media screen and (min-width: map.get($breakpoints, "HVGA")) {
		gap: 0.5em;
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		gap: 2em;
	}

	& > div {
		position: relative;

		&::before {
			@media screen and (min-width: map.get($breakpoints, "WVGA")) {
				left: -1em;
				position: absolute;
				top: 0;
				content: url('/assets/images/homework/sep-banner.png');
			}
		}

		&:first-child::before {
			display: none;
		}
	}
}

.home-banner__anim {
	aspect-ratio: 95 / 66;
	left: 0;
	position: absolute;
	opacity: 0;
	right: 0;
	transition: opacity 0.5s ease;
	top: 32px;
	width: 100%;
	z-index: 1;

	@media screen and (min-width: map.get($breakpoints, "WVGA")) {
		top: 50%;
		transform: translateY(-50%);
		left: auto;
    right: -10%;
    width: 60%;
	}

	img {
		aspect-ratio: 95 / 66;
		height: auto;
	  left: 0;
	  position: absolute;
	  top: 0; 
    width: 100%;
		transition: transform 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.125);
	}

	#cloud {
		transform: translate(5%, 2%);
	}

	#social,
	#pc {
		transform: translate(-2.5%, -1%);
	}

	#rainbow {
		transform: translate(-5%, 0);
	}

	#card-base,
	#card-chip,
	#email-icon,
	#mobile {
		transform: translate(0, -5%);
	}

	#card-chip {
		transition-timing-function: ease-out;
	}

	#chart-1,
	#chart-2,
	#chart-3 {
		aspect-ratio: auto;
		transition: transform 0.75s ease;
		transform: translate(0, 3%) scaleY(0.1);
		transform-origin: bottom center;
		width: 2.421%;
		height: auto;
	}

	#chart-1 {
    left: 52.9%;
    top: 34.4%;
	}

	#chart-2 {
		left: 56.5%;
    top: 42%; 
	}

	#chart-3 {
    left: 59.3%;
    top: 55.8%; 
	}
}

.home-banner__anim--visible {
	opacity: 1;

	#cloud,
	#social,
	#mobile,
	#rainbow {
		transform: translate(0);
	}

	#pc {
		transform: translate(0, -1%);
	}

	#card-base,
	#email-icon {
		transform: translate(0, -2%);
	}

	#card-chip {
		transform: translate(0, -3%);
	}

	#chart-1,
	#chart-2,
	#chart-3 {
		transform: translate(0) scaleY(1)
	}
}