@use "sass:map";

/* SASS tools */
@import "sass-components/_variables";
@import "sass-components/_mixins";

/* Base */
@import "base/_normalize";
@import "base/_base";

/* Layout */
@import "layout/_navbar";
@import "layout/_megamenu";
@import "layout/_main";
@import "layout/_footer";

/* Modules */
@import "modules/_text";
@import "modules/_headlines";
@import "modules/_btns";
@import "modules/_btn-close";
@import "modules/_social-media";
@import "modules/_forms";
@import "modules/_page-section";
@import "modules/_news-list";
@import "modules/_item";
@import "modules/_inner-page";
@import "modules/_search";
@import "modules/_tawk";

[data-background-lazy-load] {
	background: none !important;
}

.overlay {
	background: rgba($black, .8);
	bottom: 0;
	display: none;
	left: 0;
	height: 100%;
	right:0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 45;
}

.no-scrollbar {
	overflow-y: hidden;
}

/* responsive */
@import "rwd/responsive";