$blue: #19a6d6;
$blue1: #0f80c4;
$blue2: #0f80c4;
$navybluelight: #035d94;
$navyblue: #014975;
$darkgrey: #232524;
$darkgrey2: #2b2e2d;
$darkgrey3: #2a252b;
$grey: #4c5357;
$lightblue: #d1f6ff;
$lightblue2: #b3eaff;
$grey: #7a8488;
$red: #ed2d23;
$orange: #f2a329;
$green: #70bd47;
$white: #fff;
$black: #000;

$breakpoints: (
  'HVGA': '480px',
  'VGA': '640px',
  'WVGA': '768px',
  'XGA': '1024px',
  'WXGA': '1366px'
);

$l-navbar-height: 80px;
$button-border-size: 2px;